@import "tailwindcss";

@theme {
  /* screens */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* colors */
  --color-primary: #EB3335;
  --color-primary-light: #E3645E;
  --color-primary-dark: #C12123;
  --color-secondary: #007C80;
  --color-secondary-light: #66C6C8;
  --color-secondary-dark: #005656;

  /* fontFamily */
  --font-sans: 'Graphik', 'sans-serif';
  --font-serif: 'Merriweather', 'serif';
}
